.bounce-enter-active[data-v-1f1b244c] {
	-webkit-animation: bounce-in-data-v-1f1b244c .5s;
	animation: bounce-in-data-v-1f1b244c .5s;
}
.bounce-leave-active[data-v-1f1b244c],
.bounce-leave-to[data-v-1f1b244c] {
	animation: bounce-in-data-v-1f1b244c .5s reverse;
}
@-webkit-keyframes bounce-in-data-v-1f1b244c {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes bounce-in-data-v-1f1b244c {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.modalContainer[data-v-1f1b244c] {
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .8);
	z-index: 10;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans,
		Helvetica Neue, sans-serif;
}
.modal[data-v-1f1b244c] {
	width: 400px;
	height: 80%;
	min-height: 300px;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: .225rem;
	z-index: 12;
}
.modal-bg[data-v-1f1b244c] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 11;
	background-color: transparent;
}
.modal-close[data-v-1f1b244c] {
	width: 30px;
	height: 100%;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.modal-content[data-v-1f1b244c] {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1rem;
	overflow-y: auto;
}
.modal-footer[data-v-1f1b244c],
.modal-header[data-v-1f1b244c] {
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 1rem;
}
.modal-header[data-v-1f1b244c] {
	border-bottom: .5px solid rgba(0, 0, 0, .8);
}
.modal-footer[data-v-1f1b244c] {
	border-top: .5px solid rgba(0, 0, 0, .8);
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.modal-footer button[data-v-1f1b244c] {
	background-color: transparent;
	border: none;
	height: 100%;
	margin: 0;
	font-size: .8rem;
	color: #23c265;
}
.route[data-v-1f1b244c] {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
	border-radius: .25rem;
	margin: 5px;
	padding: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: .5px solid rgba(0, 0, 0, .2);
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.route .bilgi[data-v-1f1b244c],
.route[data-v-1f1b244c] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
}
.route .bilgi[data-v-1f1b244c] {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.route.selected[data-v-1f1b244c] {
	background-color: rgba(87, 228, 158, .2);
}
.route[data-v-1f1b244c]:hover {
	background-color: rgba(0, 255, 255, .2);
}
.route .sira[data-v-1f1b244c] {
	font-size: 1.75rem;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 30px;
	margin-right: .6rem;
}
.route .no[data-v-1f1b244c],
.route .sira[data-v-1f1b244c] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.route .no[data-v-1f1b244c] {
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0;
	min-width: 75px;
}
.route .nereden[data-v-1f1b244c] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 12px;
}
body {
	margin: 0;
}
#mapC {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
}
.map {
    height: 100%;
}
#app {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}
#app,
#directionsPanel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	height: 100%;
}
#directionsPanel {
	background-color: #fff;
	position: relative;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	top: 0;
	left: 0;
	z-index: 9;
	overflow: auto;
	width: 40%;
	max-width: 400px;
	min-width: 300px;
	border-right: .5px solid rgba(0, 0, 0, .8);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans,
		Helvetica Neue, sans-serif;
}
#directionsPanel #sayfalar {
	border-bottom: .5px solid rgba(0, 0, 0, .8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
#directionsPanel #sayfalar #onceki {
	margin: 0;
	padding: 0;
}
#directionsPanel #sayfalar button {
	background-color: transparent;
	border: none;
	width: 3.5rem;
	height: 2.5rem;
	margin: 0;
}
#directionsPanel #mesafeSure {
	border-bottom: .5px solid rgba(0, 0, 0, .8);
	padding: .5rem 1.1rem;
}
#directionsPanel #eylemlerRut {
	padding: 0;
	bottom: 0;
	border-top: .5px solid rgba(0, 0, 0, .8);
}
#directionsPanel #eylemlerRut button {
	border: none;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .8rem 0;
}
#directionsPanel #eylemlerRut button svg {
	margin-bottom: .3rem;
}
#directionsPanel #eylemlerRut button#rutuIptalEt {
	color: #d13d2d;
}
#directionsPanel #eylemlerRut button#optimizeEt {
	color: #3b95d1;
}
#directionsPanel #eylemlerRut button#noktaEkle {
	color: #aa62c7;
}
#directionsPanel #eylemlerRut button#rutCiz {
	color: #23c265;
}
#directionsPanel #rutlar {
	overflow-y: auto;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
#directionsPanel .route {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	border-radius: .25rem;
	margin: 15px;
	padding: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: .5px solid rgba(0, 0, 0, .2);
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	transition: box-shadow .25s, -webkit-box-shadow .25s;
}
#directionsPanel .route .sil button {
	background: transparent;
	border: none;
	color: #dc143c;
}
#directionsPanel .route .bilgi {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
#directionsPanel .route:hover {
	background-color: rgba(0, 255, 255, .2);
}
#directionsPanel .route .sira {
	font-size: 1.75rem;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 30px;
	margin-right: .6rem;
}
#directionsPanel .route .no,
#directionsPanel .route .sira {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#directionsPanel .route .no {
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0;
	min-width: 75px;
}
#directionsPanel .route .nereden {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 12px;
}
#rut_hesapla {
	position: fixed;
	background-color: #fff;
	width: 64px;
	height: 64px;
	top: 65px;
	right: 13px;
	border: none;
	z-index: 99999999;
}
#eylemlerRut {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
button {
	cursor: pointer;
}
* {
	outline: none;
}
