#directionsPanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 30%;
    height: 100%;
    overflow: auto;
    
    padding: 10px;
    border-radius: .25rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#directionsPanel #eylemlerRut {
    padding: 15px 5px;
}

#directionsPanel #eylemlerRut button {
    border: none;
    padding: 5px;

}

#directionsPanel #rutlar {
    overflow-y: auto;
}

#directionsPanel .route {
    display: flex;
    flex-direction: row;
    border-radius: .25rem;
    margin: 5px;
    padding: 5px;
    align-items: center;
    border: .5px solid rgb(43, 198, 215);
    background-color: white;
}

#directionsPanel .route .no {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0px;
    min-width: 75px;
    display: flex;
    align-items: center;
}

#directionsPanel .route .nereden {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#rut_hesapla {
    position: fixed;
    background-color: white;
    width: 64px;
    height: 64px;
    top: 65px;
    right: 13px;
    border: none;
    z-index: 99999999;
}

#eylemlerRut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sira {
    display: flex;
    width: 30px;
    font-size: 1.25rem;
}